version: '3.7'
services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - MONGO_URL="mongodb://mongo/nestgraphql"
      - JWT_SECRET="VERYSECRETJWTWOWROKKET"
  mongo:
    image: mongo
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongodb:/data/db
volumes:
  mongodb:
